@charset "UTF8";
body {
    background-color: rgb(159, 168, 247);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
h1 {
    color: antiquewhite;
}
h2 {
    color: rgb(147, 199, 188);
}
p {
    text-align: justify;
    color: azure;
}