@charset "UTF-8";
*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to left,#025951,#02735E);
}

main{
background-color: white;
border-radius: 10px;
box-shadow: 5px  5px 3px #003a34;
width: 600px;
padding: 10px;
margin:auto;
}

p{
    text-align: justify;

}

h1{
    color : #0CF25D;
    text-align: center;
    text-shadow: 1px 1px 2px #06461cd2;
    ;
}

h2{
    color: #034159;
}